body {
  background-color: #233;
}

#snowContainer {
  width: 500px;
  height: 500px;
  border: 1px solid darkred;
  position: relative;
}

#snowContainer .flake {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  border-radius: 100%;
}
