/* Am incercat să utilizez custom properties & native nesting */

body {
  --color-black: #000;
  --color-darck-gray: #222;
  --color-gray: #555;
  --color-light-gray: #bfbebe;
  --color-white: white;

  display: flex;
  justify-content: center;
  margin: auto;
  background: var(--color-darck-gray);
  color: var(--color-white);
}

h2 {
  margin: 0;
}
#carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 5px solid var(--color-gray);
  width: 700px;
  height: fit-content;
  padding-block-end: 1rem;
  padding-top: 20px;
}
#carouselSlides {
  border: 2px solid var(--color-white);
  width: 600px;
  height: 700px;
  overflow: hidden;
}

.imageNavigator {
  display: flex;
  justify-content: center;
  gap: 28px;
  align-items: center;
}

button {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: color, background-color 0.2s ease-in;
  & .arrow {
    font-stretch: expanded;
    width: 64px;
    height: 20px;
    transition: color 0.2s ease-in;
  }

  &:hover {
    background-color: var(--color-light-gray);
    color: color-mix(in srgb, var(--color-light-gray) 20%, white);
    & .arrow {
      color: color-mix(in srgb, var(--color-light-gray) 20%, white);
    }
  }
}

#counter_dots {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;

  & .counter {
    width: 8px;
    height: 8px;
    background: #000;
    border: 1px solid var(--color-white);
    border-radius: 25px;
  }

  & .active {
    background: var(--color-white);
  }
}

.action {
  width: 88px;
  padding: 4px;
  font-size: larger;
}
