body {
  background-color: #345;

  .box {
    width: 100px;
    height: 100px;
    background-color: #567;

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
